<footer>
  <p>
    <a href="/about#license">
      <img style="border-width:0"
        alt="Creative Commons License"
        src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
      <img style="border-width:0"
        alt="GNU Affero General Public License"
        src="https://gnu.org/graphics/agplv3-88x31.png" />
    </a>
  </p>
  <p>
  <p>
    <small>
      &copy; 2018 <a href="/about#contact">YangBy</a>. All rights reserved.
      &mdash; <a href="/about#credits">Credits</a>
    </small>
  </p>
</footer>
