---
layout: default
---

{% assign posts_month = site.posts | group_by_exp: 'post', 'post.date | date: "%Y%m%d%H%M%S"' | sort: 'name' | reverse %}
{% for month in posts_month %}
  {% assign month_total = month.items | size %}
  {% assign month_hidden = month.items | where_exp: 'post', 'post.tags contains "hide"' | size %}
  {% if month_total > month_hidden %}
    <h2>{{ month.items | map: 'date' | first | date: '%b, %Y' }}</h2>
    <ul>
      {% for post in month.items %}
        {% if post.tags contains 'hide' %}
        {% else %}
          <li>
            <small>
              {{ post.date | date: '%a, %b %-e' }}
              &raquo;
            </small>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
          <br />
          <blockquote>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</blockquote>
          <br />
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
